body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#window {
  width: 830px;
  height: 950px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 3px 2px;
  box-sizing: border-box;
  background-color: #bdbdbd;
  border-top: 1.5px solid #fff;
  border-left: 1.5px solid #fff;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5), inset 2px 2px rgba(255, 255, 255, 0.3);
}

#window_line {
  width: 100%;
  height: 20px;
  padding: 1px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  background: linear-gradient(90deg, #000281, #1083cf);
}

.title_img {
  height: 80%;
}

#window_cont {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  /* window padding 2px, cont padding 5px, border 2px(one side)
  따라서 canvas width = window width - 16 으로 */
  width: 814px;
  height: 800px;
  border-bottom: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
  border-top: 1.5px solid #7f7f7f;
  border-left: 1.5px solid #7f7f7f;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin-bottom: 5px;
}

.tools {
  width: 388px;
  height: 42px;
  padding: 5px;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-bottom: 1.5px solid #7f7f7f;
  border-right: 1.5px solid #7f7f7f;
  border-top: 1.5px solid #fff;
  border-left: 1.5px solid #fff;
}

#line-width {
  width: 80px;
  margin-right: 8px;
}

.tools_color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#color {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.color1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

.color2 {
  display: flex;
  flex-direction: row;
}

.color-option {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 2px;
  border-right: 1.8px solid #fff;
  border-bottom: 1.8px solid #fff;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.5);
}
